body {
  background-color: grey;
}


.container {
  max-width: 750px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #FFF;
}

.urlap {
  padding: 10px 0;
  display: flex;
}

.urlap label {
  padding-right: 10px;
}

.urlap input {
  flex: 1;
}