body {
  background-color: grey;
}


.osszes {
  max-width: 1300px;
  background-color: #FFF;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.elsodleges {
  flex: 3;
  order: 2;
}

.bal {
  flex: 1;
  order: 1;
}

.jobb {
  flex: 1;
  order: 3;
}